<a href="https://colab.research.google.com/github/LuisaPolicarpo/Dashboard-Dojo_luisa/blob/main/project3_geral.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
import numpy as np
#import sqlalchemy as sql
import datetime

from PIL import Image 

import pickle

In [2]:
col_list = ['tconst','primaryTitle','originalTitle', 'startYear','genres','titleType']
title_basics = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list)

In [3]:
col_list2 = ['tconst','averageRating','numVotes']
title_ratings = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list2)

In [4]:
col_list3 = ['nconst','primaryName','primaryProfession']
name_basics = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list3)

In [5]:
col_list4 = ['tconst','nconst']
title_principals = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list4)

In [6]:
t_b_r = pd.merge(title_basics, title_ratings, how='inner', on=['tconst', 'tconst'])

In [ ]:
t_b_r.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,1894,"Documentary,Short",5.7,1922
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,1892,"Animation,Short",5.8,259
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.5,1733
3,tt0000004,short,Un bon bock,Un bon bock,1892,"Animation,Short",5.6,174
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,1893,"Comedy,Short",6.2,2544

In [15]:
condition = t_b_r['titleType'] == 'movie'
condition2 = t_b_r['titleType'] == 'short'
condition7 = t_b_r['startYear'] <= '2022'
m_s = t_b_r[condition | condition2 & condition7 ][['tconst','primaryTitle','originalTitle', 'startYear','genres','averageRating','numVotes','titleType']]

In [16]:
m_s.to_pickle('/content/tmg.pickle')

In [17]:
j_c = pd.read_pickle("/content/tmg.pickle")

In [18]:
j_c.head(9)

,tconst,primaryTitle,originalTitle,startYear,genres,averageRating,numVotes,titleType
0,tt0000001,Carmencita,Carmencita,1894,"Documentary,Short",5.7,1922,short
1,tt0000002,Le clown et ses chiens,Le clown et ses chiens,1892,"Animation,Short",5.8,259,short
2,tt0000003,Pauvre Pierrot,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.5,1734,short
3,tt0000004,Un bon bock,Un bon bock,1892,"Animation,Short",5.6,174,short
4,tt0000005,Blacksmith Scene,Blacksmith Scene,1893,"Comedy,Short",6.2,2545,short
5,tt0000006,Chinese Opium Den,Chinese Opium Den,1894,Short,5.1,175,short
6,tt0000007,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,1894,"Short,Sport",5.4,797,short
7,tt0000008,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,1894,"Documentary,Short",5.4,2064,short
8,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,5.2,200,movie

In [19]:
t_b_r2 = pd.merge(j_c, title_principals, how='inner', on=['tconst', 'tconst'])

In [20]:
t_b_r2.head(9)

,tconst,primaryTitle,originalTitle,startYear,genres,averageRating,numVotes,titleType,nconst
0,tt0000001,Carmencita,Carmencita,1894,"Documentary,Short",5.7,1922,short,nm1588970
1,tt0000001,Carmencita,Carmencita,1894,"Documentary,Short",5.7,1922,short,nm0005690
2,tt0000001,Carmencita,Carmencita,1894,"Documentary,Short",5.7,1922,short,nm0374658
3,tt0000002,Le clown et ses chiens,Le clown et ses chiens,1892,"Animation,Short",5.8,259,short,nm0721526
4,tt0000002,Le clown et ses chiens,Le clown et ses chiens,1892,"Animation,Short",5.8,259,short,nm1335271
5,tt0000003,Pauvre Pierrot,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.5,1734,short,nm0721526
6,tt0000003,Pauvre Pierrot,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.5,1734,short,nm1770680
7,tt0000003,Pauvre Pierrot,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.5,1734,short,nm1335271
8,tt0000003,Pauvre Pierrot,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.5,1734,short,nm5442200

In [22]:
t_b_r3 = pd.merge(t_b_r2, name_basics, how='inner', on=['nconst', 'nconst'])

In [23]:
t_b_r3.head()

,tconst,primaryTitle,originalTitle,startYear,genres,averageRating,numVotes,titleType,nconst,primaryName,primaryProfession
0,tt0000001,Carmencita,Carmencita,1894,"Documentary,Short",5.7,1922,short,nm1588970,Carmencita,soundtrack
1,tt0000001,Carmencita,Carmencita,1894,"Documentary,Short",5.7,1922,short,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
2,tt0000005,Blacksmith Scene,Blacksmith Scene,1893,"Comedy,Short",6.2,2545,short,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
3,tt0000006,Chinese Opium Den,Chinese Opium Den,1894,Short,5.1,175,short,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
4,tt0000007,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,1894,"Short,Sport",5.4,797,short,nm0005690,William K.L. Dickson,"cinematographer,director,producer"

In [24]:
t_b_r3.to_pickle('/content/tmg1.pickle')

In [2]:
movies = pd.read_pickle("/content/tmg1.pickle")

In [26]:
movies['titleType'].value_counts()

movie    2520964
short     923320
Name: titleType, dtype: int64

In [3]:
movies.drop(columns=['originalTitle', 'titleType','nconst'])

,tconst,primaryTitle,startYear,genres,averageRating,numVotes,primaryName,primaryProfession
0,tt0000001,Carmencita,1894,"Documentary,Short",5.7,1922,Carmencita,soundtrack
1,tt0000001,Carmencita,1894,"Documentary,Short",5.7,1922,William K.L. Dickson,"cinematographer,director,producer"
2,tt0000005,Blacksmith Scene,1893,"Comedy,Short",6.2,2545,William K.L. Dickson,"cinematographer,director,producer"
3,tt0000006,Chinese Opium Den,1894,Short,5.1,175,William K.L. Dickson,"cinematographer,director,producer"
4,tt0000007,Corbett and Courtney Before the Kinetograph,1894,"Short,Sport",5.4,797,William K.L. Dickson,"cinematographer,director,producer"
...,...,...,...,...,...,...,...,...
3444279,tt9916730,6 Gunn,2017,\N,9.2,7,Ganesh Vasant Patil,"production_manager,actor"
3444280,tt9916730,6 Gunn,2017,\N,9.2,7,Kiran Gawade,NaN
3444281,tt9916730,6 Gunn,2017,\N,9.2,7,Ujjwala Gawde,producer
3444282,tt9916730,6 Gunn,2017,\N,9.2,7,Abhishek Jathar,producer
3444283,tt9916730,6 Gunn,2017,\N,9.2,7,Rohita More,"assistant_director,editor"

In [34]:
movies.fillna(0, inplace = True)

In [3]:
movies["primaryProfession"] = movies.primaryProfession.str.split(',')
movies_split = movies.explode("primaryProfession")

In [6]:
movies_split['primaryProfession'].value_counts()

actor                        1213033
writer                       1020033
producer                      940642
director                      872710
actress                       590307
soundtrack                    365505
cinematographer               357978
composer                      303393
editor                        297184
miscellaneous                 268143
camera_department             268018
music_department              231069
assistant_director            123287
editorial_department          115209
production_manager             86394
sound_department               82989
art_department                 54976
production_designer            49661
script_department              33758
animation_department           32705
art_director                   32626
visual_effects                 31727
stunts                         26717
executive                      18180
casting_department             12709
casting_director               12379
special_effects                11388
location_management            11350
make_up_department             11185
costume_designer               10440
costume_department              9865
set_decorator                   9064
manager                         3392
transportation_department       2818
talent_agent                    1496
legal                            391
publicist                        322
assistant                        197
production_department              5
music_artist                       2
electrical_department              1
Name: primaryProfession, dtype: int64

In [21]:
condition = movies_split([['primaryProfession'] == 'actor') | (movies_split['primaryProfession'] =='writer') | (movies_split['primaryProfession'] =='producer') | (movies_split['primaryProfession'] == 'actress') | (movies_split['primaryProfession'] == 'director') | (movies_split['primaryProfession'] == 'soundtrack') | (movies_split['primaryProfession'] =='cinematographer')])

movies_adpw = movies_split[condition][['primaryName','tconst','genres','averageRating','numVotes','primaryProfession','titleType','startYear']]

SyntaxError: ignored

In [ ]:
tconst	primaryTitle	startYear	genres	averageRating	numVotes	primaryName	primaryProfession

In [ ]:
| (movies_split['primaryProfession'] == 'actress')